<!DOCTYPE html>
<html>
<head>
  <title> سمَـَّوُوُحخ ̷̴̐خ ̷̴̐خ ̷̴̐خ امارتيخ ̷̴̐خ</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<meta property="og:title" content=" سمَـَّوُوُحخ ̷̴̐خ ̷̴̐خ ̷̴̐خ امارتيخ ̷̴̐خ My Favorite Songs" />
<meta property="og:image" content="http://www.exampleapp.com/playlist/ID/image" />
<meta property="og:description" content=" سمَـَّوُوُحخ ̷̴̐خ ̷̴̐خ  Meow meow سمَـَّوُوُحخ ̷̴̐خ ̷̴̐خ ̷̴̐خ امارتيخ ̷̴̐خ̷̴̐خ امارتيخ ̷̴̐خ" />
</head>
<body>

Hi  سمَـَّوُوُحخ ̷̴̐خ ̷̴̐خ ̷̴̐خ امارتيخ ̷̴̐خ
<%= yield %>

</body>
</html>
